@import '_reset.scss';
@import '_variables.scss';

body {
  background: $dark-base;
  font-family: $font-family-monospace;
  font-size: $font-size-base;
  color: $text-color;
  line-height: 1.4;
}

// app 
section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// header
.header {
  background: $blue-base;

  a {
    color: $text-color;
    font-family: $font-family-monospace;
    border-bottom: 1px dotted $text-color;
    text-decoration: none;
    margin: 0 0 0 $offset/2;
    padding: 0 0 3px;
  }

  span {
    opacity: 0.5;
  }

  &__content {
    display: flex;
    font-family: $font-family-sans;
    padding: $offset;

    > div {
      margin-left: auto;
    }
  }

  &__tabs {
    border-top: 1px solid $darker-base;
    border-bottom: 1px solid $darker-base;
    background: $grey-base;
    display: flex;

    > div {
      flex: 1;
      display: flex;
      padding: $offset;
      align-items: center;

      div {
        margin-left: auto;
      }

      button {        
        font-size: $font-size-base;
        background: transparent;
        cursor: pointer;
        border-bottom: 1px dotted $text-color-light;
        color: $text-color-light;
        padding: 0 0 3px;
        margin: 0 0 0 $offset/2;
        font-family: $font-family-monospace;
        position: relative;
        
        &:hover {
          color: $text-color;
          border-bottom-color: $text-color;
        }

        &:active {
          top: 1px;
        }
      }

      &:last-of-type {
        border-left: 1px solid $dark-base;
      }
    }
  }
}

// editor
.editor {
  flex: 1;
  display: flex;
  position: relative;

  &__error {
    padding: $offset;
    background: $red-base;
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
  }

  &__code {
    flex: 1;
    line-height: 1.4;
    font-family: $font-family-monospace;
    background: $dark-base;
    color: $text-color;
    font-size: $font-size-base;
    padding: $offset;

    &:last-of-type {
      border-left: 1px solid $grey-base;
    }
  }
}


@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
